<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>998887088693-shjvpr6arh430cil2oqd4uq5ms4rvqnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998887088693-shjvpr6arh430cil2oqd4uq5ms4rvqnb</string>
	<key>API_KEY</key>
	<string>AIzaSyALbOclYy2ldZ_iReFSBDMgoE5y9yr6LHw</string>
	<key>GCM_SENDER_ID</key>
	<string>998887088693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atburgoyne.BreakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-813d6</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-813d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998887088693:ios:d9e82270e0730a37</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-813d6.firebaseio.com</string>
</dict>
</plist>